*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-text;
  font-weight: $font-light;
  line-height: $line-height-text;
  color: $color-dark;
}

section {
  margin-top: 6em;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}




